/*Fonts*/
@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato-Bol.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(../fonts/Lato-Reg.ttf);
}

@font-face {
    font-family: LatoLight;
    src: url(../fonts/Lato-Lig.ttf);
}

@font-face {
    font-family: LatoHairline;
    src: url(../fonts/Lato-Hai.ttf);
}

@font-face {
    font-family: LatoHairlineItalic;
    src: url(../fonts/Lato-HaiIta.ttf);
}

/*Common styles*/
.red-line {
    border-top: 2px solid #f57365;
    width: 90px;
    margin: 0 auto;
}

.bx-wrapper .bx-viewport {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #ffffff;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*Main*/
#main {
    background: url("../images/main-bg.jpg") center no-repeat;
    background-size: cover;
    height: 881px;
}

#main .logo {
    background: url("../images/logo.png") center no-repeat;
    height: 119px;
    width: 129px;
    position: relative;
    float: left;
}

#main .menu ul {
    margin-top: 60px;
}

#main .menu ul li {
    display: inline;
}

#main .menu ul li:not(:first-child) {
    margin-left: 30px;
}

#main .menu ul li a {
    font-family: LatoBold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

#main .text-wrap {
    margin: 270px auto 240px auto;

}

#main .text-wrap h3 {
    font-family: TimesNewRoman, "Times New Roman";
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    color: #ffffff;
    opacity: .7;
    text-shadow: -1px 0 40px rgba(1, 1, 1, .55); /* drop shadow */
    margin: 0;
}

#main .text-wrap h2 {
    font-family: LatoBold;
    font-size: 100px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
}

#main .text-wrap button {
    font-family: LatoBold;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px 70px;
    background: none;
    border: 3px solid #fff; /* stroke */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* border radius */
    margin-top: 20px;
    margin-bottom: 30px;

}

#main .text-wrap button:hover {
    background: #ccc;
    text-shadow: 1px 1px 5px #000;
}

#main .text-wrap p {
    font-family: LatoRegular;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

#main .text-wrap p > span {
    font-family: LatoBold;
    text-decoration: underline;
}

/*Advantages*/
#advantages .row {
    margin-top: 100px;
    margin-bottom: 95px;
}

#advantages .item-logo1 {
    background: url("../images/advantages-1.png") center no-repeat;
    height: 107px;
}

#advantages .item-logo2 {
    background: url("../images/advantages-2.png") center no-repeat;
    height: 107px;
}

#advantages .item-logo3 {
    background: url("../images/advantages-3.png") center no-repeat;
    height: 107px;
}

#advantages p.title {
    font-family: LatoBold;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

#advantages p.text {
    font-family: LatoLight;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

#introducing {
    padding-top: 100px;
    background: #f7f7f7;
}

/*Introducing*/
#introducing .img-iphone {
    background: url("../images/iphone.png") center no-repeat;
    background-size: contain;
    height: 778px;
}

#introducing .text-wrap {
    padding-left: 80px;
    padding-top: 70px;
    margin-bottom: 30px;
}

#introducing h2 {
    font-family: LatoBold;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
}

#introducing .red-line {
    margin: 0;
}

#introducing p {
    font-family: LatoLight;
    font-size: 16px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 30px;
}

#introducing button.app-store {
    background: url("../images/app-store.png");
    height: 39px;
    width: 112px;
    border: none;
    margin-right: 5px;
}

#introducing button.google-play {
    background: url("../images/google-play.png");
    height: 39px;
    width: 120px;
    border: none;
}

/*Reviews*/
#reviews {
    background: #4a3949;
}

#reviews .container {
    background: url("../images/reviews-bg.png") center no-repeat;
    background-size: contain;
    height: 460px;
}

#reviews .photo {
    background: url("../images/photo.png") center no-repeat;
    height: 114px;
    width: 114px;
    display: inline-block;
    margin-top: 80px;
}

#reviews p.text {
    font-family: LatoHairline;
    font-size: 30px;
    color: #ffffff;
    opacity: .3;
    margin-top: 15px;
    margin-bottom: 15px;
}

#reviews p.sign {
    font-family: LatoHairlineItalic;
    font-size: 18px;
    color: #ffffff;
    opacity: .3;
}

/*Cuisines*/
#cuisines h2 {
    margin-top: 80px;
    font-family: LatoBold;
    font-size: 18px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

#cuisines .row {
    margin-top: 40px;
}

#cuisines .italian {
    background: url("../images/cuisine-ita.jpg") center no-repeat;
}

#cuisines .indian {
    background: url("../images/cuisine-indian.jpg") center no-repeat;
}

#cuisines .french {
    background: url("../images/cuisine-french.jpg") center no-repeat;
}

#cuisines .steak {
    background: url("../images/cuisine-steak.jpg") center no-repeat;
}

#cuisines .seafood {
    background: url("../images/cuisine-seafood.jpg") center no-repeat;
}

#cuisines .sushi {
    background: url("../images/cuisine-sushi.jpg") center no-repeat;
}

#cuisines .mexican {
    background: url("../images/cuisine-mexican.jpg") center no-repeat;
}

#cuisines .chinese {
    background: url("../images/cuisine-chinese.jpg") center no-repeat;
}

#cuisines .pizza {
    background: url("../images/cuisine-pizza.jpg") center no-repeat;
}

#cuisines .american {
    background: url("../images/cuisine-american.jpg") center no-repeat;
}

#cuisines .italian, #cuisines .indian, #cuisines .french, #cuisines .steak, #cuisines .seafood, #cuisines .sushi,
#cuisines .mexican, #cuisines .chinese, #cuisines .pizza, #cuisines .american {
    background-size: cover;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(30%);
    -moz-filter: grayscale(30%);
    -ms-filter: grayscale(30%);
    filter: grayscale(30%);
    filter: gray; /* IE 6-9 */

    cursor: pointer;
}

#cuisines .italian:hover, #cuisines .indian:hover, #cuisines .french:hover, #cuisines .steak:hover,
#cuisines .seafood:hover, #cuisines .sushi:hover, #cuisines .mexican:hover, #cuisines .chinese:hover,
#cuisines .pizza:hover, #cuisines .american:hover {
    filter: none;
}

#cuisines p.count {
    font-family: TimesNewRoman, "Times New Roman";
    /*font-weight: bold;*/
    font-style: italic;
    font-size: 15px;
    color: #ffffff;
    text-shadow: -1px 0 40px rgba(1, 1, 1, .55); /* drop shadow */
    text-transform: capitalize;
    margin: 60px 0 0 0;
}

#cuisines p.name {
    font-family: LatoBold;
    font-size: 34px;
    color: #ffffff;
    text-shadow: -1px 0 40px rgba(1, 1, 1, .55); /* drop shadow */
    text-transform: uppercase;
    margin: -10px 0 80px 0;
}

/*Stats*/
#stats p.count {
    margin-top: 60px;
    font-family: LatoBold;
    font-size: 36px;
    color: #000;
    text-align: center;
}

#stats p.caption {
    margin-bottom: 60px;
    font-family: LatoLight;
    font-size: 16px;
    color: #000;
    text-align: center;
}

/*Footer*/
#footer {
    height: 90px;
    background: #f7f7f7;
    border-top: 1px solid #bfbfbf;
}

#footer .container {
    padding-top: 40px;
}

#footer p.copyright {
    font-family: LatoLight;
    font-size: 14px;
    color: #8b8b8b;
    text-transform: capitalize;
    display: inline-block;
}

#footer p.designed-by {
    font-family: LatoLight;
    font-size: 14px;
    color: #8b8b8b;
    text-transform: uppercase;
}

#footer p.designed-by > span {
    font-family: LatoRegular;
    color: #000;
}

/*Responsive*/
@media (max-width: 489px) {
    #cuisines p.name {
        font-size: 21px;
    }
}
@media (max-width: 767px) {
    #main .logo {
        background: url("../images/logo-big.png") center no-repeat;
        height: 281px;
        background-size: contain;
        width: auto;
        float: none;
    }

    #main .menu ul {
        margin-top: 20px;
    }

    #main .text-wrap {
        margin-top: 100px;
    }

    #main .text-wrap h3 {
        font-size: 25px;
    }

    #main .text-wrap h2 {
        font-size: 76px;
    }

    #main .text-wrap button {
        font-size: 16px;
        padding: 20px 60px;
    }

    #main .text-wrap p {
        font-size: 12px;
    }

    #advantages .row {
        margin: 20px 0;
    }

    #introducing {
        padding-top: 0;
    }

    #introducing .text-wrap {
        padding-left: 20px;
        padding-top: 10px;
    }

    #reviews .photo {
        margin-top: 20px;
    }

    #reviews p.text {
        font-size: 20px;
    }

    #reviews p.sign {
        font-size: 14px;
    }

    #reviews .container {
        height: auto;
        background-size: cover;
    }

    #cuisines h2 {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #cuisines .row {
        margin-top: 20px;
    }

    #stats p.count {
        margin-top: 20px;
        font-size: 30px;
    }

    #stats p.caption {
        margin-bottom: 20px;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #introducing {
        padding-top: 0;
    }

    #introducing .text-wrap {
        padding-left: 20px;
        padding-top: 10px;
    }

    #reviews .container {
        background-size: cover;
    }

    #stats p.count {
        font-size: 30px;
    }

    #stats p.caption {
        font-size: 14px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #introducing .img-iphone {
        height: 690px;
    }

    #cuisines p.name {
        font-size: 28px;
    }
}